{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="projApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/" />
    <link rel="icon" href="../../favicon.ico">

    <title>SafeHouse</title>
    

    <!-- core CSS -->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link href= '{% static "bower_components/Materialize/dist/css/materialize.min.css" %}' rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='{% static "css/main.css" %}' type="text/css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  </head>

  <body role="document" ng-cloak >

  <div ng-controller="MainCtrl">

  <div ng-view></div>
  </div>



<!--     Javascripts files for ajs routing and frontend func
 -->    

 

<!--  Scipt to trigger modal on click
 -->




{% include 'javascripts.html' %}
<script type="text/javascript" src="http://localhost:9999/settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/datamapper.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/angular/services.js"></script>
    <script>
    $(document).ready(function(){
      

        
    });
    </script>


  </body>
</html>