<div class="jumbotron col s12 m12 l12">
  <div ng-include="'static/templates/polls/navbar.html'"></div>
</div>

<div id="defaultV">
<span class="notifier">{{Message}}</span>
<span class="messages">{{ResetError}}</span>
 <form ng-submit="resetPasswordConfirm(password, confirm)" name="myForm"> 
           <div class="row">
              <div class="input-field col m12">
                 <input id="pwd" type="password" class="form-control validate" ng-model="password" required /> 
                <label for="pwd" >Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col m12">
                 <input id="pwdcon" type="password" class="form-control validate" ng-model="confirm" required /> 
                <label for="pwdcon" >Confirm Password</label>
              </div>
            </div>
                 
                <br>

            <br>
            
            <!-- CONTINUE BUTTON -->
            
            <div class="center-btn">
                <button id="continueToForm2" type="submit" class="btn waves-effect waves-light deep-orange darken-4" >ResetPassword</button>
            </div>
        </form>

</div>
